* {
  font-family: "Roboto", sans-serif;
}
.input-fields {
  width: 90%;
  border: 2px solid #aaa;
  border-radius: 0px;
  margin: 10px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.kartica {
  text-align: center;
  width: 50%;
  margin: 8px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.heading {
  text-align: center;
}

.logo-large {
  width: 100%;
  padding: 20px;
}

.message-img {
  width: 20px;
}

.button-img {
  width: 30px;
}

.button-small {
  background-image: url("../img/calculate.svg");
  background-repeat: no-repeat;
  display: inline-block;
  background-color: #ededed;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 2rem 2rem;
  border: none;
  font-size: 0;
  width: 100px;
  background-position: center;
  border-radius: 32px;
  width: 64px;
  box-shadow: 2px 5px 10px rgba(220, 220, 220, 0.5);
}

.button-calculate {
  background-image: url("../img/calculate.svg");
}

.button-add {
  background-image: url("../img/add.svg");
}

.button-subtract {
  background-image: url("../img/subtract.svg");
}

.button-select {
  background-image: url("../img/select.svg");
}

.button-add-user {
  background-image: url("../img/add_user.svg");
}

.button-login {
  background-image: url("../img/login.svg");
}

.button-edit {
  background-image: url("../img/edit.svg");
}

.button-delete {
  background-image: url("../img/delete.svg");
}

.button-save {
  background-image: url("../img/save.svg");
}

.button-cancel {
  background-image: url("../img/cancel.svg");
}

.brisanje-modal-header {
  background-color: #ff0000;
  color: #ffffff;
}

.buttons-left {
  float: left;
}

.buttons-right {
  float: right;
}

.isti-red-div {
  display: inline;
}

.shadow {
  width: 60%;
}

.card-razmak {
  padding: 1rem;
}

.alert-razmak {
  padding: 3%;
}

.button,
.button:link,
.bbutton:visited {
  display: inline-block;
  background-color: #90ee90;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.6rem 1.6rem;
  border-radius: 3px;
}

.button-red,
.button-red:link,
.bbutton-red:visited {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.6rem 1.6rem;
  border-radius: 3px;
}

.button-filter {
  display: inline-block;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2rem;
  padding: 0.6rem 1.6rem;
  border: none;
}

.oddo {
  width: 20%;
}

.paraf {
  margin-bottom: 0;
}
.tekst-paraf {
  padding: 10px;
}
.accordion {
  --bs-accordion-btn-focus-border-color: ##fff;
  --bs-accordion-btn-focus-box-shadow: 0px;
}

.button.accordion-button {
  background-color: #fff;
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
}

.accordion-button:focus {
  border-color: #fff;
  box-shadow: 0px;
}

.input-fields:focus {
  border-color: #90ee90;
  box-shadow: 0 0 8px 0 #90ee90;
}
