{% extends "base.html" %} {% block content %}

<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">Spoj tehnologije i tradicije</h1>
      <p class="hero-description">
        Kolinje je tradicionalni običaj obrade svinjskog mesa raširen u mnogim
        područjima Europe. Običaj je naročito tradicija u panonskim krajevima i
        obavlja se u zimskihm mjesecima te se zadržao do današnjih dana. Ova web
        aplikacija je spoj modernih tehnologija sa tradicijom.
      </p>

      <a href="#" class="button hero-buttons margin-right-sm">Logiraj se</a>
      <a href="#" class="button hero-buttons">Saznaj više</a>
    </div>
    <div class="hero-img-box">
      <img class="hero-img" src="static/img/kolinje_logo.svg" />
    </div>
  </div>
</section>

{% endblock %}
