{% extends "base.html" %} 


{% block content %}


<!-- Button trigger modal -->
<button type="button" class="button-filter" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <img class="button-img" src="/static/img/filter.png" alt="Check mark"> Filter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Filter recepata</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="paraf"><strong>Filtriraj recepte prema:</strong></p>
        <p class="paraf">Naslovu recepta:</p>
        <input class="input-fields">
        <p class="paraf">Udjelu soli (%)</p>
        <div style="display: inline-block;">
          <input class="input-fields oddo"> do <input class="input-fields oddo">
        </div>
        <p class="paraf">Udjelu papra (%)</p>
        <div style="display: inline-block;">
          <input class="input-fields oddo"> do <input class="input-fields oddo">
        </div>
        <p class="paraf">Udjelu slatke paprike (%)</p>
        <div style="display: inline-block;">
          <input class="input-fields oddo"> do <input class="input-fields oddo">
        </div>
        <p class="paraf">Udjelu ljute paprike (%)</p>
        <div style="display: inline-block;">
          <input class="input-fields oddo"> do <input class="input-fields oddo">
        </div>
        <p class="paraf">Udjelu bijelog luka (%)</p>
        <div style="display: inline-block;">
          <input class="input-fields oddo"> do <input class="input-fields oddo">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



</br>


      {%for recepti in recepti_temp%}
      <div class="card-razmak">
      <div class="card">
        <form method="POST">
        <div class="card-header">
          <strong>{{recepti['Naslov_recepta']}}</strong>
        </br>Datum kreiranja: {{recepti['Datum_kreiranja']}}
        </div>
        <div class="card-body">
          
          <p class="card-text"><strong>Sastojci</strong></p>
          <p class="card-text">id: {{recepti['_id']}}</p>
          <p class="card-text">Sol: {{recepti['Sol']}} %</p>
          <p class="card-text">Papar: {{recepti['Papar']}} %</p>
          <p class="card-text">Ljuta paprika: {{recepti['Ljuta_paprika']}} %</p>
          <p class="card-text">Slatka paprika: {{recepti['Slatka_paprika']}} %</p>
          <p class="card-text">Bijeli luk: {{recepti['Bijeli_luk']}} %</p>
        
          <div>
            <div class="buttons_left isti-red-div">
            <a href="{{url_for('novo_mjerenje', id=recepti['_id'])}}" class="button-small button-select"></a>
          </div>
          <div class="buttons-right">
            <a href="{{url_for('azuriranje_recepta', id=recepti['_id'],)}}" class="button-small button-edit"></a>



            <a type="button" class="button-small button-delete" data-bs-toggle="modal" data-bs-target="#brisanje{{recepti['_id']}}">
              
            </a>

            
          </div>
        </div>
      </form>
        </div>
      </div>
    
  </div>
      {%endfor%}
    
      {%for recepti in recepti_temp%}
      <!-- Modal -->
<div class="modal fade" id="brisanje{{recepti['_id']}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header brisanje-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Jeste li sigurni da želite obrisati recept?</h5>
      </div>
      <div class="modal-body">
        <p><strong>ID recepta:</strong> {{recepti['_id']}}</p>
        <p><strong>Naziv recepta:</strong> {{recepti['Naslov_recepta']}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-small button-cancel" data-bs-dismiss="modal">Close</button>
        <a href="{{url_for('brisanje_recepta', id=recepti['_id'],)}}" class="button-small button-select"></a>
      </div>
    </div>
  </div>
</div>

  {%endfor%}        

{% endblock %}
