{% extends "base.html" %} {% block content %}

<center>
<h1 class="heading">Pregled kolinja</h1>

<div class="card-razmak">
  <div class="card">
  <div class="card-header">
  <strong>Naziv novog kolinja:</strong>
</div>
<form method="POST">
  <input class="input-fields" type="text" name="naziv_kolinja"/>
  <input class="button-small button-save" type="submit" value="Spremi"/>
</form>
</br>

</div>
</div>
</center>



{%for print in printer %}



{%for i in print%}
      
      <div class="card-razmak">
      <div class="card">
        <form method="POST">
        <div class="card-header">
          <p class="paraf"><strong>ID kolinja: </strong>{{i['_id']}}</p>
          <p class="paraf"><strong>Naziv kolinja: </strong>{{i['naziv_kolinja']}}</p>
        
        </div>
        <div class="card-body">
          
          <table class="tablica-kolinja">
            <thead>
            <tr>
              <th width="30px">#</th>
              <th >Meso (g)</th>
              <th >Sol (g)</th>
              <th >Papar (g)</th>
              <th >Ljuta paprika (g)</th>
              <th >Slatka paprika (g)</th>
              <th >Bijeli luk (g)</th>
            </tr>
          </thead>

          
{%set sol_uk = [0] -%}
{%set papar_uk =[0]%}
{%set ljuta_paprika_uk = [0]%}
{%set slatka_paprika_uk = [0]%}
{%set bijeli_luk_uk = [0]%}

          {%for j in i['vaganja']%}

      {%set sol = j['sol']|float%}
      {%set papar = j['papar']|float%}
      {%set ljuta_paprika = j['ljuta_paprika']|float%}
      {%set slatka_paprika = j['slatka_paprika']|float%}
      {%set bijeli_luk = j['bijeli_luk']|float%}
      {%set tezina = j['tezina_mesa']|int%}
      {%set sol_med = tezina*sol/100 %}
      {%set papar_med = tezina*papar/100 %}
      {%set ljuta_paprika_med = tezina*ljuta_paprika/100 %}
      {%set slatka_paprika_med = tezina*slatka_paprika/100 %}
      {%set bijeli_luk_med = tezina*bijeli_luk/100 %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{tezina}}</td>
        <td>{{sol_med}}</td>
        <td>{{papar_med}}</td>
        <td>{{ljuta_paprika_med}}</td>
        <td>{{slatka_paprika_med}}</td>
        <td>{{bijeli_luk_med}}</td>
      </tr>
      
      
      {% if sol_uk.append(sol_uk.pop()+sol_med) -%}{%endif%}
      {% if papar_uk.append(papar_uk.pop()+papar_med) -%}{%endif%}
      {% if ljuta_paprika_uk.append(ljuta_paprika_uk.pop()+ljuta_paprika_med) -%}{%endif%}
      {% if slatka_paprika_uk.append(slatka_paprika_uk.pop()+slatka_paprika_med) -%}{%endif%}
      {% if bijeli_luk_uk.append(bijeli_luk_uk.pop()+bijeli_luk_med) -%}{%endif%}

      {%endfor%}
      
     {%set uk_tezina_mesa = i['vaganja'] | sum(attribute='tezina_mesa') %}
     
    

    
    
      
  
    <tfoot>
      <tr>
        <td>∑</td>
        <td><strong>{{ uk_tezina_mesa }}</strong></td>
        <td><strong>{{sol_uk[0]}}</strong></td>
        <td><strong>{{papar_uk[0]}}</strong></td>
        <td><strong>{{ljuta_paprika_uk[0]}}</strong></td>
        <td><strong>{{slatka_paprika_uk[0]}}</strong></td>
        <td><strong>{{bijeli_luk_uk[0]}}</strong></td>
      </tr>
    </tfoot>
    
  </table>
    
  
      
   
  
   <p class="card-text"><strong>Ukupna masa smjese: </strong> {{uk_tezina_mesa + sol_uk[0] + papar_uk[0] + ljuta_paprika_uk[0] + slatka_paprika_uk[0] + bijeli_luk_uk[0]}} g</p> 
</br>

  <div class="buttons-left">
    <a type="button" class="button-small button-info" data-bs-toggle="modal" data-bs-target="#edit{{i['_id']}}">
    </a>
  </div>
  <div class="buttons-right">
    <a href="{{url_for('pdf_kolinja')}}" class="button-small button-pdf"></a>
    <a type="button" class="button-small button-delete" data-bs-toggle="modal" data-bs-target="#brisanje{{i['_id']}}" >
    </a>
</div>  
        </div>
    </div>
  
  
    
</div>
{%endfor%}

{%endfor%}



 <!--MODAL ZA BRISANJE-->
 {%for print in printer %}
 
 {%for i in print%}  
 
<div class="modal fade" id="brisanje{{i['_id']}}" tabindex="-1" aria-labelledby="brisnje-kolinja" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header brisanje-modal-header">
        <h5 class="modal-title" id="brisanje-kolinja">Jeste li sigurni da želite obrisati kolinje?</h5>
      </div>
      <div class="modal-body">
        <p><strong>ID kolinja:</strong> {{i['_id']}}</p>
        <p><strong>Naziv kolinja:</strong> {{i['naziv_kolinja']}}</p>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="button-small button-cancel" data-bs-dismiss="modal">Close</button>
        <a href="{{url_for('brisanje_kolinja', id=i['_id'],)}}" class="button-small button-select"></a>
      </div>
    </div>
  </div>
</div>
{%endfor%}
  {%endfor%}     


<!--MODAL ZA EDIT KOLINJA-->
{%for print in printer %}
 
{%for i in print%}  

<div class="modal fade" id="edit{{i['_id']}}" tabindex="-1" aria-labelledby="brisnje-kolinja" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header brisanje-modal-header">
       <h5 class="modal-title" id="edit-kolinja">Jeste li sigurni da želite obrisati kolinje?</h5>
     </div>
     <div class="modal-body">
      <ul class="list-group">
        <li class="list-group-item">
       <p><strong>ID kolinja:</strong> {{i['_id']}}</p>
       <p><strong>Naziv kolinja:</strong> {{i['naziv_kolinja']}}</p>
      </li>
       {%for j in i['vaganja']%}
       
       <li class="list-group-item">
        <table class="tablica-kolinja">
          <thead>
          <tr>
            <th >Sol (%)</th>
            <th >Papar (%)</th>
            <th >Ljuta paprika (%)</th>
            <th >Slatka paprika (%)</th>
            <th >Bijeli luk (%)</th>
          </tr>
        </thead>
        <tr>
          <td>{{j['sol']}}</td>
          <td>{{j['papar']}}</td>
          <td>{{j['ljuta_paprika']}}</td>
          <td>{{j['slatka_paprika']}}</td>
          <td>{{j['bijeli_luk']}}</td>
        </tr>
        </table>
      <div>
        <div class="isti_red_div">
          <p class="isti_red_div"><strong>Izvagana količina mesa: </strong>{{j['tezina_mesa']}}</p>
        </div>
        <div class="isti_red_div kolinje-delete">
          
          <a href="{{url_for('edit_kolinja', id=i['_id'], idx=loop.index)}}" class="button-small button-delete"></a>
          
        </div>
      </div>
      </li>
        {%endfor%}
      </ul>
    </div>

     <div class="modal-footer">
       <button type="button" class="button-small button-cancel" data-bs-dismiss="modal">Close</button>
       
     </div>
   </div>
 </div>
</div>
{%endfor%}
 {%endfor%}     


{% endblock %}
