{% extends "base.html" %} {% block content %}

<center>
<h1 class="heading">Pregled kolinja</h1>

<div class="card-razmak">
  <div class="card">
  <div class="card-header">
  <strong>Naziv novog kolinja:</strong>
</div>
<form method="POST">
  <input class="input-fields" type="text" name="naziv_kolinja"/>
  <input class="button-small button-save" type="submit" value="Spremi"/>
</form>
</br>

</div>
</div>
</center>

{%for print in printer %}

{%for i in print%}
      <div class="card-razmak">
      <div class="card">
        <form method="POST">
        <div class="card-header">
          <strong>ID kolinja: </strong>{{i['_id']}}
        
        </div>
        <div class="card-body">
          
          {%for j in i['vaganja']%}
      {%set tezina = j['tezina_mesa']|int%}
      
     <p>Vaganje: {{tezina}} g</p> 
    </br>
      
      
    {%endfor%}
  
   <p class="card-text"><strong>Ukupna težina: </strong>{{ i['vaganja'] | sum(attribute='tezina_mesa') }} g</p> 
</br>



         
          
        </div>
    </div>
  
  

</div>
{%endfor%}
{%endfor%}

 <!---->
 



{% endblock %}
