{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}

</br>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<center>
			<div>
			<img class="message-img" src="/static/img/check.png" alt="Check mark">
			{{message}}
			</div>
		</center>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
	  

{%endfor%}
</br>
<center>
<div class="shadow p-3 mb-5 bg-body rounded">
<h1 class="heading">Registracija novog korisnika</h1>


            	<div class="kartica">
					<img class="logo-large" src="static/img/register.png" alt="Novi korisnik">
                    <form method="POST"> 
                    {{form.hidden_tag()}}
                    {{form.username(class="input-fields")}}

                    {{form.email(class="input-fields")}}
					
				</br>
                    {{form.password(class="input-fields")}}
                </br>
                    {{form.password_confirm(class="input-fields")}}
				</br>
				</br>
                    {{form.register(class="button")}}

                </br>
            </form>
        </div>
                
            
				</div>
			</div>
			
		
			   
			<div class="shadow p-3 mb-5 bg-body rounded">
				<div style="overflow-x:auto;">
			<table class="table">
				<thead>
					<tr>
					<th scope="col">id</th>
					<th scope="col">Korisničko ime</th>
					<th scope="col">Email</th>
					<th scope="col">Datum registracije</th>
				</tr>
				</thead>
{%for korisnici in korisnici_temp%}
<tbody>
<tr>
<td>{{korisnici['_id']}} </td>
<td> {{korisnici['username']}}   </td>
<td> {{korisnici['email']}}  </td> 
<td> {{korisnici['datum_registracije']}} </td>
	</tr>
</tbody>
{%endfor%}
</table>
</div>
</div>
</center>
{% endblock %}