{% extends "base.html" %}

{% block content %}
</br>
<h1 class="heading">Registracija novog korisnika</h1>

<center>
            	<div class="kartica">
					<img class="logo-large" src="static/img/register.png" alt="Novi korisnik">
                    <form method="POST" action="/"> 
                    {{form.hidden_tag}}
                    {{form.username(class="input-fields")}}

                    {{form.email(class="input-fields")}}
					
				</br>
                    {{form.password(class="input-fields")}}
                </br>
                    {{form.password_confirm(class="input-fields")}}
				</br>
				</br>
                    {{form.register(class="button")}}

                </br>
            </form>
        </div>
                
            
				</div>
			</center>
{% endblock %}