{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}

</br>
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<center>
			<div>
			<img class="message-img" src="/static/img/check.png" alt="Check mark">
			{{message}}
			</div>
		</center>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
	  

{%endfor%}
</br>
<center>

<h1 class="heading">Registracija novog korisnika</h1>


            	<div class="kartica">
					<img class="logo-large" src="static/img/register.png" alt="Novi korisnik">
                    
					
					<form method="POST"> 
						<input class="input-fields" type="username" name="username">
						<input class="input-fields" type="email" name="email" oninvalid="this.setCustomValidity('E-mail adresa mora sadržavati znak &quot@&quot. Primjer: ivan.horvat@gmail.com')" placeholder="Vaša e-mail adresa" />			
						<input class="input-fields" type="password" name="password"/>
						<input class="input-fields" type="password" name="password_confirm"/>
						<input class="button-small button-add-user" type="submit" value="Prijava"/>

                		</br>
            		</form>
        </div>
                
            
				</div>
			</div>
			
		
			   
			<div class="shadow p-3 mb-5 bg-body rounded">
				<div style="overflow-x:auto;">
			<table class="table">
				<thead>
					<tr>
					<th scope="col">id</th>
					<th scope="col">Korisničko ime</th>
					<th scope="col">Email</th>
					<th scope="col">Datum registracije</th>
				</tr>
				</thead>
{%for korisnici in korisnici_temp%}
<tbody>
<tr>
<td>{{korisnici['_id']}} </td>
<td> {{korisnici['username']}}   </td>
<td> {{korisnici['email']}}  </td> 
<td> {{korisnici['datum_registracije']}} </td>
	</tr>
</tbody>
{%endfor%}
</table>
</div>

</center>
{% endblock %}